#defaultCanvas0{
	top:0; 
	left:0;
	position: fixed;
	z-index: 0;
	color:black;
}

body{
	/*
	top:0; 
	left:0;
	position: static;
	z-index: 1;
	*/
}

.central{
	font-size: 5rem;
	text-align: center;
	position: fixed;
	z-index: 2;
}

.menu{
	font-size: 3rem;
	text-align: center;
}

.hover-green:hover{
    color: green;
}
